In [12]:
import numpy as np
import pandas as pd
import os
import urllib

In [13]:
#Setting paths for the data
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data","covid")

In [14]:
#This is retrieving the data and putting it in the folders we prepared
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path,"WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data\\covid\\WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x1ebea561e10>)

In [15]:
#This reads the data into a variable, called a dataframe
df= pd.read_csv(csv_path)

In [16]:
#This just displays the data frame
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
273256,2023-02-24,ZW,Zimbabwe,AFRO,0,263921,0,5663
273257,2023-02-25,ZW,Zimbabwe,AFRO,0,263921,0,5663
273258,2023-02-26,ZW,Zimbabwe,AFRO,0,263921,0,5663
273259,2023-02-27,ZW,Zimbabwe,AFRO,0,263921,0,5663
273260,2023-02-28,ZW,Zimbabwe,AFRO,0,263921,0,5663

In [17]:
#This shows how many entrys there are
df_index = df.index
df_index

RangeIndex(start=0, stop=273261, step=1)

In [18]:
#This shows the names of the columns in the data set
df_cols = df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [19]:
#This would take any white space out of the columns, allowing us to use beter methods
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [20]:
#We can set paramaters for the info we want to display, this displays all of the US data
df[df.Country == 'United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
260578,2020-01-03,US,United States of America,AMRO,0,0,0,0
260579,2020-01-04,US,United States of America,AMRO,0,0,0,0
260580,2020-01-05,US,United States of America,AMRO,0,0,0,0
260581,2020-01-06,US,United States of America,AMRO,0,0,0,0
260582,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
261726,2023-02-24,US,United States of America,AMRO,0,101752396,0,1106783
261727,2023-02-25,US,United States of America,AMRO,267168,102019564,2362,1109145
261728,2023-02-26,US,United States of America,AMRO,0,102019564,0,1109145
261729,2023-02-27,US,United States of America,AMRO,0,102019564,0,1109145
261730,2023-02-28,US,United States of America,AMRO,0,102019564,0,1109145

In [22]:
#Get the info for just the US
us = df[df.Country_code == "US"]
us

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
260578,2020-01-03,US,United States of America,AMRO,0,0,0,0
260579,2020-01-04,US,United States of America,AMRO,0,0,0,0
260580,2020-01-05,US,United States of America,AMRO,0,0,0,0
260581,2020-01-06,US,United States of America,AMRO,0,0,0,0
260582,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
261726,2023-02-24,US,United States of America,AMRO,0,101752396,0,1106783
261727,2023-02-25,US,United States of America,AMRO,267168,102019564,2362,1109145
261728,2023-02-26,US,United States of America,AMRO,0,102019564,0,1109145
261729,2023-02-27,US,United States of America,AMRO,0,102019564,0,1109145
261730,2023-02-28,US,United States of America,AMRO,0,102019564,0,1109145

In [23]:
#Which day had the most new cases in the US
#We can see from the data above at time of writing the code, January of 2022 had the most new cases of Covid 19
us.loc[us.New_cases.idxmax(),["Date_reported","New_cases","Cumulative_cases"]]

Date_reported       2022-01-12
New_cases              1265520
Cumulative_cases      61474599
Name: 261318, dtype: object

In [24]:
#What is the average New_cases in the US?
#We can see from the data above at time of writing the code, the average new cases was 88481 new cases per day 
us.describe()

          New_cases  Cumulative_cases   New_deaths  Cumulative_deaths
count  1.153000e+03      1.153000e+03  1153.000000       1.153000e+03
mean   8.848184e+04      4.521155e+07   961.964441       6.076834e+05
std    1.276622e+05      3.595666e+07   953.842848       3.763193e+05
min   -3.027200e+04      0.000000e+00 -2437.000000       0.000000e+00
25%    2.109800e+04      8.052248e+06   232.000000       2.218160e+05
50%    5.167900e+04      3.478410e+07   693.000000       6.104890e+05
75%    1.156720e+05      8.172576e+07  1435.000000       9.938150e+05
max    1.265520e+06      1.020196e+08  5061.000000       1.109145e+06